.hero {
  text-align: center;
  height: 100vh;
  background-image: url("../../assets/natureforesttreesfog.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.first-text {
  font-size: 1.25rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 60px;
}
.second-text {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 20px auto 0;
  word-wrap: break-word;
  position: relative;
}
@media (max-width: 768px) {
  .second-text {
    font-size: 3rem;
  }
}

.hero-btn {
  color: #ffffff;
  background-color: #f67b6f;
  letter-spacing: 1px;
  border-style: none;
  align-self: center;
  margin: 30px auto 0;
  border-radius: 15px;
  padding: 10px 30px;
  display: block;
  font-size: 20px;
}
.image {
  width: 462px;
  height: 492px;
  margin: 45px auto 0;
}
@media (max-width: 768px) {
  .image {
    width: 340px;
    height: 362px;
  }
}
