.about {
  padding-block: 50px;
  background-color: #f67b6f;
  color: #ffffff;
}
.about-content {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
}
.about-content > div {
  padding: 30px;
}
@media (max-width: 768px) {
  .about-content > div {
    padding: 10px;
  }
}
.about-title {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 2;
  word-wrap: break-word;
}
@media (max-width: 768px) {
  .about-title {
    line-height: 1.5;
  }
}
.about-h2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px 0 0;
  letter-spacing: 1px;
  word-wrap: break-word;
}
@media (max-width: 768px) {
  .about-h2 {
    font-size: 2rem;
  }
}
.about-p {
  font-weight: 400;
  margin: 20px 0 0;
  font-size: 1.125rem;
  line-height: 1.2;
}
.about-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .about-stats {
    flex-direction: column;
    gap: 10px;
  }
}
.about-stats > div {
  padding: 10px;
  align-items: center;
}
.about-number {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}
.stats-title {
  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.5;
  word-wrap: break-word;
}
