.news {
  padding-block: 50px;
  background-color: #f67b6f;
}
.news-head {
  font-size: 2.25rem;
  color: #ffffff;
  text-align: center;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
  min-height: 375px;
  grid-gap: 22px;
}
@media (max-width: 991px) {
  .cards {
    grid-template-columns: repeat(2, calc(50% - 11px));
  }
}
@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(1, 100%);
  }
}
